@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;1,400;1,500;1,700&family=Satisfy&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

/*------ HEADER--------*/

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: rgba(44, 79, 79, 0.404);

}

.container {
    width: 1280px;
    margin: auto;

}

.nav-checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
}

.logo {

    display: none;
    padding-left: 10px;
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    align-items: center;
}

.tab-nav {
    outline: none;
    display: none;
    fv
}

.label {
    display: none;
    color: #fff;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: #181818;
    margin-top: 5px;
}

.content-nav {
    display: grid;
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;

}
.content-1{
    margin-bottom: 30px;
    position: relative;
    top: 30%;
   right: 8%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 10px;
    color: #18181;

}



.content-nav li {
    display: inline-block;
    padding-right: 10px;

}

.content-nav li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    margin-left: 1rem;

}

.content-nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.5s;
}

.content-nav li a:hover::after {
    transform: scale(1, 1);
}

.redes a i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-left: 1rem;
}

.redes a i:hover {
    transform: scale(1.5);
    transition: all 0, 5s ease;
    color: rgb(35, 35, 137);
}

.home {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.intro {
    grid-area: 3 / 2 / 4 / 3;
    position: relative;
    right: 20px;
    top: 15rem;
    background: #fff;
    width: 700px;
    height: 500px;
    border-radius: 20px;
}

.contenidos {
    background: #fff;
    width: 700px;
    height: 500px;
    grid-area: 3 / 4 / 4 / 5;
    grid-column: 1;
    position: relative;
    left: 3rem;
    top: 15rem;
    border-radius: 20px;
    overflow: hidden;
}




.home .intro {
    grid-column: 7 / 10;
    grid-row: 4 / 7;
}






.imagen {
    position: absolute;
    left: 7%;
    top: 9%;
}

.home .titulo {
    font-family: 'Montserrat', sans-serif;
    margin-top: 16px;
    color: rgb(9, 8, 8);
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    top: 15%;
    left: 32%;




}

.home .btn {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-color: #2fb4cc;
    border-radius: 30px;
    color: #fff;
    padding: 20px 30px;
    border: 2px solid #2fb4cc;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20rem;
    text-align: center;
    position: absolute;
    bottom: 25%;
    right: 40%;

}

.home .btn:hover {
    transform: scale(1.1);
    transition: all 0, 5s ease;
}

.footer {
    background-color: #bae1da;
    padding: 20px;
    display: grid;
    height: 80px;
    align-items: center;
    grid-template-areas: "tip-footer redes";

}

.footer .tip-footer {
    grid-template-areas: tip-footer;
    display: flex;
    justify-content: center;
    color: rgb(144, 119, 48);
    font-size: 1em;
    margin-right: 10px;

}

.footer .redes1 a i {
    grid-template-areas: redes;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(204, 168, 68);
    padding: 5px 5px 5px 5px;
}

.redes1 {
    position: relative;
}

.redes1 a i:hover {
    transform: scale(1.5);
    transition: all 0, 5s ease;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width:400px) and (max-width:486px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 2 / 10;
        grid-row: 3 / 7;



    }

    .home1 {
        width: 50%;
        height: 50%;
        margin: auto;
        padding: 40px 40px;
        background: #E1F5F0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }


    .content-1 {
        margin-left: 7rem;
    }

    .content-2 {
        margin-left: 7rem;
    }



    .content-nav li a {
        color: #57f5e3;
        font-size: 1.5rem;
    }

    .footer {
        height: 30vh;


    }

    .footer .tip-footer {
        margin: 0;
        margin-left: 10px;
        font-size: 12px;

    }

    .container .redes {
        display: none;
    }

    .footer .redes1 a i {
        font-size: 16px;
    }

    .nav-checkbox input:checked~.content-nav {
        max-height: 500px;
    }

    .content-nav li {
        padding: 15px 0px;
    }
}

@media screen and (min-width:686px) and (max-width:768px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 4 / 10;
        grid-row: 3 / 7;



    }

    .content-1 {
        margin-left: 7rem;
    }



    .content-nav li a {
        color: #57f5e3;
        font-size: 1.5rem;
    }

    .footer {
        height: 30vh;


    }

    .footer .tip-footer {
        margin: 0;
        margin-left: 10px;
        font-size: 12px;

    }

    .container .redes {
        display: none;
    }

    .footer .redes1 a i {
        font-size: 16px;
    }

    .nav-checkbox input:checked~.content-nav {
        max-height: 500px;
    }

    .content-nav li {
        padding: 15px 0px;
    }
}

@media screen and (min-width:486px) and (max-width:686px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 3/ 10;
        grid-row: 3 / 7;



    }

    .content-1 {
        margin-left: 7rem;
    }



    .content-nav li a {
        color: #57f5e3;
        font-size: 1.5rem;
    }

    .footer {
        height: 20vh;


    }

    .footer .tip-footer {
        margin: 0;
        margin-left: 10px;
        font-size: 12px;

    }

    .container .redes {
        display: none;
    }

    .footer .redes1 a i {
        font-size: 16px;
    }

    .nav-checkbox input:checked~.content-nav {
        max-height: 500px;
    }

    .content-nav li {
        padding: 15px 0px;
    }
}

@media screen and (min-width:769px) and (max-width:800px) {

    .label {
        display: grid;
        cursor: pointer;
        grid-column: 2 / 8;
        padding-right: 10px;
        margin-left: 10rem;


    }


    .logo {
        display: grid;
        grid-column: 3 / 10;
    }

    .content-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1 / 4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.6ms;
    }

    .home .intro {
        grid-column: 5 / 10;
        grid-row: 3/ 7;



    }

    .content-1 {
        margin-left: 7rem;
    }



    .content-nav li a {
        color: #57f5e3;
        font-size: 1.5rem;
    }

    .footer {
        height: 20vh;


    }

    .footer .tip-footer {
        margin: 0;
        margin-left: 10px;
        font-size: 12px;

    }

    .container .redes {
        display: none;
    }

    .footer .redes1 a i {
        font-size: 16px;
    }

    .nav-checkbox input:checked~.content-nav {
        max-height: 500px;
    }

    .content-nav li {
        padding: 15px 0px;
    }
}

@media screen and (min-width:801px) {





    .logo {
        display: grid;
        grid-column: 3 / 10;
    }


    .home .intro {
        grid-column: 5 / 10;
        grid-row: 3 / 7;



    }

    .content-1 {
        margin-left: 7rem;
    }






    .footer {
        height: 20vh;


    }




    .footer .redes1 a i {
        font-size: 16px;
    }

    .nav-checkbox input:checked~.content-nav {
        max-height: 500px;
    }

    .content-nav li {
        padding: 15px 0px;
    }
}

.cards-servicios {
    width: 100%;
    display: flex;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    margin-left: 11rem;

}

.principal {
    text-align: center;
    background: #E1F5F0;


}
.saludos{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 20%;
}

.border-card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #ffff;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.border-card:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.border-card .w-img {
    width: 100%;
    height: 210px;
}

.border-card .bg-card {
    padding: 15px;
    text-align: center;
}

.border-card .bg-card .texto {
    line-height: 1.5;
    color: #6a6a6a;
}

.border-card .bg-card .titulo3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.border-card .bg-card .boton {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffff;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.border-card .bg-card .boton a {
    text-decoration: none;
    color: #2fb4cc;
}

.border-card .bg-card .boton a:hover {
    color: #fff;
}

.border-card .bg-card .boton:hover {
    background-color: #2fb4cc;
}

.fondo {
    background: #E1F5F0;
}


.home1 {

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px
}

main {
    height: 120vh;
    background: #E1F5F0;
}

.intro1 {
    background: #fff;
    width: 700px;
    height: 500px;
    grid-area: 3 / 4 / 4 / 5;
    grid-column: 1;
    position: relative;
    left: 3rem;
    top: 15rem;
    border-radius: 20px;
}

.contenido {
    grid-area: 3 / 2 / 4 / 3;
    position: relative;
    right: 20px;
    top: 15rem;

    width: 700px;
    height: 500px;

    padding: 30px;
}

.imagen1 {
    position: absolute;
    left: 7%;
    top: 9%;
}

.titulo1 {
    text-align: center;
    padding: 10px;
    position: relative;
    top: 10%;
}

.fondo {
    position: relative;
    top: 20%;
}

.principal {
    position: relative;
    top: 18%;
    text-align: center;
}

.contenido .content-2 {
    margin-left: 20px;
    padding: 20px;
    position: relative;
    top: 10%;
}

.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 90px;
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
}

.container-form p {
    font-size: 17px;
    left: 1.6;
    margin-bottom: 30px;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #181818;
    font-weight: 700;
}

.container-form a i {
    color: #2fb4cc;
    margin-right: 10px;
}

.container-form form .campo,
textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #2fb4cc;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

.container-form textarea {
    max-width: 600px;
    min-width: 500px;
    min-height: 140px;
    max-height: 150px;
}

.container-form .btn-enviar {
    padding: 15px;
    color: #181818;
    font-size: 16px;
    border: #2fb4cc;
    outline: 0px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;


}

.container-form .btn-enviar:hover {
    background: #2fb4cc;
    color: #fff;
}

.info-form {
    position: relative;
    top: 70%;
}

.formulario {
    position: relative;
    top: 70%;
}

.contenedor1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor2 {
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 100vh;
}

.contenedor1 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(101, 135, 136, 0.5);
    cursor: pointer;
}

.contenedor1 figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;

}

.contenedor1 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor1 figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor1 figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor1 figure:hover>img {
    transform: scale(1.3);
}

.contenedor1 figure .capa h3 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}



.contenedor1 figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    max-width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor2 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(101, 135, 136, 0.5);
    cursor: pointer;
}

.contenedor2 figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;

}

.contenedor2 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor2 figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor2 figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor2 figure:hover>img {
    transform: scale(1.3);
}

.contenedor2 figure .capa h3 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}



.contenedor2 figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    max-width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    bottom: 47rem;
}


.contenedor3 figure {
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(101, 135, 136, 0.5);
    cursor: pointer;

}

.contenedor3 figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;

}

.contenedor3 figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor3 figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor3 figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor3 figure:hover>img {
    transform: scale(1.3);
}

.contenedor3 figure .capa h3 {
    color: #fff;
    font-weight: 300;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}



.contenedor3 figure .capa p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    max-width: 100%;
    max-width: 220px;
    margin: auto;
}

.proyectos {
    width: 100%;
    display: flex;
    max-width: 1100px;
    max-height: 918px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    margin-left: 11rem;
}

.tit {
    text-align: center;

    position: relative;
    left: 4rem;
    top: 10rem;
    left: 23rem;

}